[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
numpy = "*"
scipy = "*"
sklearn = "*"
scikit-learn = "*"
torch = "*"

[requires]
python_version = "3.14"

[dev-packages]
ipykernel = "*"
